@model MovieRater.ViewModels.DeleteMovieViewModel
@{
    ViewData["Title"] = "Verwijder Film";
}

    <div class="container">
        <form id="EditMovie-form" class="form" asp-action="DeleteMovie" enctype="multipart/form-data">
            <div class="row">
                <h1>Verwijder Film: <i>@Model.MovieTitle</i></h1>
            </div>
            <div class="row">
                <p>Weet je zeker dat je <i>@Model.MovieTitle</i> wilt verwijderen?</p>
            </div>

            <div class="form-group" style="display:none;">
                <label asp-for="MovieID" class="control-label"></label>
                <input asp-for="MovieID" class="form-control" placeholder="Film titel.." />
                <span asp-validation-for="MovieID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Verwijder" class="btn btn-danger" />
            </div>
            <a asp-controller="Home" asp-action="Index">Terug naar homepagina</a>

        </form>
    </div>