
@{
    ViewData["Title"] = "EditSuccessPage";
}

<h1>De wijzigingen zijn opgeslagen!</h1>
<div>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary active" role="button" style="width:280px">Terug naar de homepagina</a>
</div>

