
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <main>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-sm">

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/Images/Logo.jpg" alt="Logo" style="width:40px;">
                </a>

                <form class="form-inline" action="/action_page.php">
                    <input class="form-control mr-sm-" type="text" placeholder="Search" style="width:600px;">
                </form>


                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"> Login/ Register </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-area="" asp-controller="Movie" asp-action="MoviePage">Test</a>
                            <a class="dropdown-item" href="#">Link 2</a>
                            <a class="dropdown-item" href="#">Link 3</a>
                        </div>
                    </li>
                </ul>
            </nav>
            <hr />
            <br>

            @RenderBody()
        </div>

    </main>
    <footer class="container-fluid">
        <hr />
        <p class="copyright text-muted">Copyright © Lars 2020</p>
    </footer>
</body>
</html>
