@model MovieRater.ViewModels.AddAccountViewModel
@{
    ViewData["Title"] = "Register";

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

}
<script>
    $('#password, #confirm_password').on('keyup', function () {
        if ($('#password').val() == $('#confirm_password').val()) {
            $('#message').html('Matching').css('color', 'green');
        } else
            $('#message').html('Not Matching').css('color', 'red');
    });
</script>

<div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Registreer</h4>
        <form id="AddAccount-form" class="form" asp-action="AddAccount" enctype="multipart/form-data">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input asp-for="FirstName" class="form-control" placeholder="Voornaam" type="text" required>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group input-group">
                        <input asp-for="LastName" class="form-control" placeholder="Achternaam" type="text" required>
                    </div>
                </div>
            </div>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input asp-for="UserName" class="form-control" placeholder="Username" type="text" required>
            </div>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                </div>
                <input asp-for="Email" class="form-control" placeholder="Email adres" type="email" required>
            </div>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                </div>
                <select class="custom-select" style="max-width: 80px;">
                    <option selected="">+31</option>
                    <option value="1">+49</option>
                    <option value="2">+32</option>
                </select>
                <input asp-for="PhoneNumber" class="form-control" placeholder="Telefoon nummer" type="text" required>
            </div>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input asp-for="Password" class="form-control" placeholder="Wachtwoord" id="password" type="password" required>
            </div>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input class="form-control" placeholder="Herhaal password" type="password" name="confirm_password" id="confirm_password" required>
                <span id="message"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Registreer  </button>
            </div>

            <p class="text-center">Heeft u al een account? <a asp-controller="Account" asp-action="Login">Log In</a> </p>
        </form>
    </article>
</div>
