@model MovieRater.ViewModels.GetWatchListViewModel
@{
    ViewData["Title"] = "WatchlistPage";
}

<h1>WatchlistPage</h1>
@foreach (var item in Model.WatchLists)
{
    <img class="rounded img-fluid" style="max-width: 90%" src=/Images/Posters/@item.Poster alt="Poster">
}

